.sidebar-wrapper {
  width: 135px;
  height: 100vh;
  background-color: #283677;
  padding: 0 30px;
  text-align: center;
}
.logo {
  margin-bottom: 45px;
  width: 53px;
}
.side-icon {
  color: #fff;
}
.menu p {
  color: white;
  font-size: 13px;
  font-weight: 400;
}
/* ................Basic..................... */
.btn-active{
  background: #00744E;
  color: #fff;
}
/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
.accountInfoContainer {
  display: flex;
}
.single-account {
  flex: 1;
  text-align: center;
  align-items: center;
  height: 100vh;
}
.single-account p {
  font-size: 30px;
  margin-bottom: 60px;
}
.single-account span {
  font-size: 26px;
  display: block;
  margin-bottom: 5px;
}
.single-account h2 {
  font-size: 26px;
  display: block;
  margin-top: -10px;
}
.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-account .user {
  width: 150px;
  height: 150px;
  background: #00744e;
  border-radius: 100%;
  align-items: center;
  line-height: 150px;
  font-size: 60px;
  color: #fff;
  text-align: center;
}
.btn {
  width: 240px;
  height: 50px;
  border: 1px solid #00744e;
  border-radius: 20px;
  font-size: 25px;
  margin-bottom: 10px;
}
/* ..........................
account info
....................... */
hr{
  color: #00AD79;
}
.account-body{
  display: flex;
}
.accountInfoContainer {
  display: flex;
}
.right-single-account img{
  width: 200px;
  display: flex;
  justify-content: right;
}
.single-account{
  flex: 1;
  height: 1vh;
  text-align: center;
  align-items: center;
}
.single-account p{
  font-size: 30px;
  margin-bottom: 60px;
}
.single-account span{
  font-size: 26px;
  display: block;
  margin-bottom: 5px;
}
.single-account h2{
  font-size: 26px;
  display: block;
  margin-top: -10px;
}
.user-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-account  .user{
  width: 150px;
  height: 150px;
  background: #00744E;
  border-radius: 100%;
  align-items: center;
  line-height: 150px;
  font-size: 60px;
  color: #fff;
  text-align: center;
}
/* -------------right side of account info---------------- */
.align-right{
  display: flex;
  justify-content: end;
  margin-right: 80px;
}
.right-single-account {
  background-color: #00744e;
  flex: 3;
  height: 100vh;
  color: rgb(212, 211, 211);
}

.accordion-container {
  width: 80%;
  margin: auto;
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
  cursor: pointer;
}

.accordion-icon-title span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #02875b;
}

.accordion-icon-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
}

.open-accordion {
  cursor: pointer;
}

.accordion-details {
  width: full;
  max-height: 300px;
  background-color: #56cea6;
}
.help-right img {
	width: 70px;
}
.help-body{
display: flex;
justify-content: end;
}
.help-body p{
  font-size: 26px;
  margin: 0;
}
.help-right {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
	padding: 15px;
	border-radius: 20px;
	background: #008A5E;
	width: 420px;
	margin-right: 80px;
}

/* account info form */

.infoContainer {
  max-width: 1200px;
  height: 200px;
  background-color: white;
  padding: 15px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 50px;
}
.infoContainer p {
  margin: 10px 0 5px 0;
}

.inputContainer {
  border-bottom: 2px solid green;
  padding: 0 20px 0 20px;
  height: 80px;
}

.inputField {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.inputField input {
  border: none;
  outline: none;
  width: 76%;
  height: 35px;
}

.inputField input::placeholder {
  color: black;
  font: bolder;
  font-size: 18px;
}

.numberBox {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 5px;
}
.flag {
  border-right: 2px solid black;
  padding-right: 10px;
}
.flag img {
  width: 25px;
  height: 15px;
}
.numberBox span {
  font-weight: bold;
  font-size: 18px;
  color: black;
}
.verify-icon {
  font-size: 20px;
  color: #02875b;
}
.verify-now-title {
  font-size: 14px;
  color: #02875b;
  white-space: nowrap;
}

/* contact */
.field-check{
  position: relative;
}
.icon{
  position: absolute;
  margin-left: 60%;
}

/* ........................................sign up........................ */
.signUp-body{
  display: flex;
  height: 100vh;
}
.Sign-img{
  width: 50%;
  background-image: linear-gradient(to right, #F09927 , #FFC133);
  height: 100vh;
}
.Sign-img img{
  width: 100%;
  height: 61vh;
  object-fit: contain;
}
.Sign-img p{
  margin-top: 50px;
  margin-left: 80px;
  font-size: 40px;
  font-weight: 700;
  color: #2A3674;
}
.Sign-content{
  width: 50%;
  background-image: linear-gradient(to bottom, #4B3274 , #8F2A74);
}
.sign-text{
  margin: auto;
  width: 444px;
}
.Sign-content img{
  width: 200px;
  margin-top: 50px;
}
.Sign-content p, span {
	font-size: 20px;
	color: #fff;
	margin: 0;
	text-align: center;
}
.Sign-content p{
  font-weight: 300;
}
.Sign-content p a {
	font-weight: 400;
	color: #fff;
}
.box {
	width: 400px;
	padding: 20px;
	margin-bottom: 25px;
	background: #8E578F;
	border: 1px solid #fff;
	border-radius: 10px;
	color: #fff;
  outline: none;
}

.sign-btn{
  width: 440px;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 20px;
  font-size: 25px;
  margin-bottom: 25px;
  color: #fff;
  font-weight: 300;
  background: transparent;
  cursor: pointer;
}
.sign-fb{
  border: none;
background: #0071B8;
}
/* -----------------------------------------login-------------------------------------- */
.login-body{
  display: flex;
  height: 100vh;
  position: fixed;
}
.login-img{
  width: 50%;
  background-color: #00BBDE;
}
.login-img img{
  width: 100%;
  height: 100vh;
  object-fit: contain;
}
.login-img p{
  font-size: 43px;
  margin-top: 50px;
  margin-left: 80px;
  font-weight: 700;
  color: #2A3674;
}
.login img{
  width: 200px;
  margin-top: 50px;
}
.login-content{
  margin: auto;
  width: 444px;
}
.login{
  width: 440px;
  background-color: #2A3674;
  margin: 0 auto;
}
.login p,span{
  font-size: 20px;
  display: inline-block;
  color: #fff;
  margin: 0;
}
.login p{
  font-weight: 300;
}
.box-blue{
  background: #545E8F;
}
/* --------------------------call popup--------------------------- */
.popup-container {
	max-width: 980px;
	height: 100vh;
	margin: auto;
	box-shadow: 1px 1px 4px 2px #cac3c3;
}
.img-container {
  position: relative;
}
.close-btn {
  position: absolute;
  font-size: 20px;
  color: white;
  padding: 5px;
  cursor: pointer;
  top: 5px;
  right: 15px;
}
.popup-img {
  width: 100%;
  background-position: center;
}
.popup-content {
  padding: 0 80px;
}
.popup-text {
  margin-top: 50px;
}
.popup-text h3 {
  margin-bottom: 20px;
  font-size: 36px;

}
.popup-content p{
  font-size: 17px;
}
.popup-text p {
  margin-bottom: 65px;
}
.help-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  width: 380px;
  height: 60px;
  box-shadow: 1px 1px 4px 2px #cac3c3;
  border-radius: 10px;
  background-image: linear-gradient(to right, #fff, pink);
}
.contact-info h2 {
	font-size: 20px;
}
.contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  margin: 40px 0;
}
.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  width: 380px;
  height: 60px;
  box-shadow: 1px 1px 4px 2px #cac3c3;
  border-radius: 10px;
  background-color: #02875b;
}
.contact-sms {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  width: 380px;
  height: 60px;
  box-shadow: 1px 1px 4px 2px #cac3c3;
  border-radius: 10px;
}
/* ////////////////////////////////features......................... */
.features-bg{
  background-image: linear-gradient(to bottom, #F4413C , #D23654);
  height: 100vh;
  text-align: center;
  position: relative;
}
.features-bg img {
	width: 15%;

}
.features-bg h1 {
	font-size: 51px;
	color: #fff;
}
.features-bg p {
	font-size: 20px;
	color: #fff;
	width: 602px;
	margin: 50px auto;
}
.btn-features {
	width: 330px;
	height: 61px;
	border: none;
	border-radius: 29px;
	font-size: 25px;
	margin-bottom: 10px;
	color: #F5423B;
	background: #fff;
}
.fe-icon{
  position: absolute;
  bottom: 40px;
  left: 50px;
  font-size: 30px;
}
.cross {
	display: flex;
	margin-left: 50px;
	font-size: 30px;
}
/* __________________form tool___________________ */
.features-bg arr-icon {
	display: flex;
}
.fromTool-head {
	display: flex;
	justify-content: center;
}
.fromTool-head img {
	width: 6%;
	height: 6%;
	margin-top: 17px;
}
.features-bg h6 {
	background: #B72D66;
	display: flex;
	width: 765px;
	justify-content: left;
	align-items: center;
	margin: 10px auto;
	border: 2px solid #fff;
	padding: 15px 16px;
	color: #fff;
	font-size: 28px;
	border-radius: 7px;
	text-align: left;
}
.list {
	border: 1px solid #fff;
	height: 30px;
	width: 30px;
	border-radius: 16px;
	margin-right: 22px;
}

/* -----------slider--------------- */
.slider-body {
  background-image: linear-gradient(to right, #f09927, #ffc133);
  display: flex;
  border-radius: 10px;
  width: 400px;
  height: 200px;
}

body {
  overflow-x:hidden;
}